.cards {
    width: 86%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 1%;
    padding-bottom: 16%;
}


h2 {
    text-align: center;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    .cards {
        grid-template-columns: 20% 20% 20% 20%;
        grid-column-gap: 6.6%;
        grid-row-gap: 2%;
    }
  }


@media only screen and (min-width: 1440px) {
    .cards {
        grid-template-columns: 14% 14% 14% 14% 14% 14%;
        grid-column-gap: 3.2%;
    }
  }