.content {
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 15px 0 rgba(40,40,40,.18);
    margin-top: 20px;
    width: 86%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.button {
    display: block;
    background-color: #d9d9db;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 8px 15px 0 rgba(40,40,40,.18);
    transition: transform linear 0.2s;
}

.button:hover {
    transform: translateY(6px);   
}
